body {
  margin:0;
  font-family:sans-serif;
  text-align:center;
  background:linear-gradient(135deg,#ff758c,#ff7eb3);
  color:white;
}

/* pages */
.page {
  display:none;
  min-height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.active {
  display:flex;
}

button {
  padding:12px 25px;
  margin:10px;
  border:none;
  border-radius:25px;
  background:white;
  color:#ff4da6;
  font-size:16px;
}

/* cake */
.cake {
  position: relative;
  width: 150px;
  margin: 30px auto;
}

.layer {
  width: 150px;
  height: 60px;
  background: pink;
  border-radius: 10px;
}

.icing {
  width: 150px;
  height: 20px;
  background: white;
  position: absolute;
  top: -10px;
  border-radius: 10px;
}

.candle {
  width: 8px;
  height: 30px;
  background: white;
  position: absolute;
  top: -40px;
  left: 70px;
}

.flame {
  width: 10px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -1px;
  display: none;
}

/* balloons */
.balloon {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  display:inline-block;
  cursor:pointer;
}
