body {
  margin:0;
  font-family:sans-serif;
  text-align:center;
  background:linear-gradient(135deg,#ff758c,#ff7eb3);
  color:white;
}

.page {
  display:none;
  min-height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.active {
  display:flex;
}

button {
  padding:12px 25px;
  margin:10px;
  border:none;
  border-radius:25px;
  background:white;
  color:#ff4da6;
}

/* 🎂 cake image */
.cake-container {
  position: relative;
  width: 250px;
  margin: 20px auto;
}

.cake-img {
  width: 100%;
  height: auto;
}

/* candle */
.candle {
  width: 6px;
  height: 30px;
  background: white;
  position: absolute;
}

.flame {
  width: 10px;
  height: 18px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  top: -18px;
  left: -2px;
  display: none;
}

/* balloons */
.balloon {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  display:inline-block;
  cursor:pointer;
}
